:root {
  --color-brand: #af2523;
  --color-brand-light: #af252342;
  --color-brand-secondary: #da8001;
  --color-primary-dark: #050301;
  --color-primary: #1b1b1b;
  --color-primary-light: #c5c1b9;
  --color-secondary: #c7c4bd;
  --color-line: #a39092;
  --color-title: #fcfbf8;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.6;

  color: var(--color-primary-dark);
}

h1 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 220px;
  line-height: 0.85;
  letter-spacing: 2.5px;
  margin: 0;
  color: var(--color-title);
  text-shadow: 0 0 20px var(--color-primary);
}

h2 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 96px;
  line-height: 1;
  letter-spacing: 0.96px;
  margin: 0;
}

h3 {
  font-family: 'JetBrains Mono', monospace;
  font-size: 12px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  color: var(--color-brand);
  margin: 0 0 12px;
}

h4 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 36px;
  letter-spacing: 0.36px;
  margin: 0;
}

h5 {
  font-family: 'Instrument Serif', serif;
  font-style: italic;
  font-weight: lighter;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 7%;
  color: var(--color-brand);
  margin: 0 0 14px;
}

.title-red {
  font-family: 'Instrument Serif', serif;
  font-style: italic;
  font-weight: lighter;
  font-size: 72px;
  line-height: 1;
  letter-spacing: 0.72px;
  color: var(--color-brand);
  text-transform: capitalize;
}

a {
  color: var(--color-primary);
}

p {
  margin: 0;
}

main {
  background-color: var(--color-secondary);
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 24px;
}

.section {
  padding: 128px 0;
}

.btn {
  border: 2px solid var(--color-primary);
  font-size: 12px;
  letter-spacing: 1.2;
  padding: 10px 18px;
  border: 2px solid var(--color-secondary);
  color: var(--color-title);
}

.grid {
  display: grid;
  grid-gap: 32px;

  align-items: center;
  justify-content: space-between;
}

.grid-2-col {
  grid-template-columns: repeat(2, auto);
}

.grid-3-col {
  grid-template-columns: repeat(3, auto);
}

.grid--align-bottom {
  align-items: end;
}

.text-red {
  color: var(--color-brand);
}

.text-orange {
  color: var(--color-brand-secondary);
}

.text-upper {
  text-transform: uppercase;
}

.img-responsive {
  display: block;
  width: 100%;
}

/* Header */
header {
  position: fixed;
  top: 0;
  width: 100%;

  backdrop-filter: blur(10px);
  border-bottom: 1px solid var(--color-line);
  z-index: 1;
}

.header-container {
  display: flex;
  gap: 24px;
  justify-content: space-between;
  align-items: center;
  padding: 20px 24px;
  /**/
  position: relative;
}

.logo {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 24px;
  letter-spacing: 0.24px;
  text-decoration: none;
}

header a {
  text-decoration: none;
}

.nav-menu {
  list-style: none;
  display: flex;
  gap: 32px;
  font-size: 12px;
  letter-spacing: 2.16px;
  padding: 0;
  margin: 0;
}

/* Mobile */
.mobile-btn {
  display: none;
  position: relative;
  height: 23px;
  width: 23px;
  z-index: 1;
}

.mobile-btn-line,
.mobile-btn-line::before,
.mobile-btn-line::after {
  position: absolute;
  top: 50%;
  background-color: var(--color-primary-dark);
  height: 3px;
  width: 100%;
}

.mobile-btn-line::before,
.mobile-btn-line::after {
  content: '';
  transform-origin: right;
  transition:
    transform 0.3s ease,
    top 0.3s ease;
}

.mobile-btn-line {
  top: 50%;
}

.mobile-btn-line::before {
  top: -8px;
  background-color: var(--color-brand);
}

.mobile-btn-line::after {
  top: 8px;
}

.mobile-btn.open .mobile-btn-line {
  background-color: transparent;
}

.mobile-btn.open .mobile-btn-line::before {
  transform: rotate(-45deg);
  background-color: var(--color-primary-dark);
}

.mobile-btn.open .mobile-btn-line::after {
  transform: rotate(45deg);
}

/* Hero section*/
.hero-section {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4)),
    url('../img/bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  min-height: 100vh;
  filter: sepia(0.4);
}

.hero-container {
  min-height: 100vh;
  padding: 128px 0 60px;
}

.hero-subtitle {
  font-weight: 700;
  text-shadow: 0 0 20px var(--color-title);
}

.hero-description {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 24px;
  line-height: 1.33;
  letter-spacing: 0.24px;
  max-width: 440px;
  color: var(--color-primary-light);
  text-shadow: 0 0 10px var(--color-primary);
}

.hero-quote {
  position: relative;
  font-family: 'Instrument Serif', serif;
  font-style: italic;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 7%;
  max-width: 384px;
  color: var(--color-primary-light);
  border-left: 1px solid var(--color-primary);
  padding: 0 0 0 24px;
  text-align: left;
}

.hero-quote::before {
  content: '"';
  position: absolute;
  top: -28px;
  left: 0;
  color: var(--color-brand-secondary);
  font-family: 'Instrument Serif', serif;
  font-weight: 400;
  font-style: italic;
  font-size: 60px;
}

.hero-quote-text {
  margin-bottom: 16px;
}

.hero-quote-author {
  font-family: 'JetBrains Mono', monospace;
  font-size: 10px;
  line-height: 1.5;
  letter-spacing: 2.5px;
  text-transform: uppercase;
}

/* District */
.district-subtitle {
  font-family: 'Instrument Serif', serif;
  font-style: italic;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 7%;
}

.district-description {
  display: block;
  /* grid-column: 3;
  align-self: end; */
}

.district-grid-title {
  margin-bottom: 60px;
}

.district-grid-body {
  align-items: start;
}

.card {
  position: relative;
  font-size: 14px;
  line-height: 1.6;
}

.card-number {
  position: absolute;
  top: 16px;
  left: 16px;
  padding: 5px 8px;
  border: 1px solid var(--color-line);
  font-family: 'JetBrains Mono', monospace;
  font-size: 10px;
  line-height: 1.5;
  letter-spacing: 1px;
}

.card-img {
  margin-bottom: 20px;
}

.card:nth-child(2) {
  margin-top: 48px;
  align-self: end;
}

/* Footer */
footer {
  background-color: var(--color-secondary);
  padding: 20px 0;
}

.footer-text {
  font-family: 'JetBrains Mono', monospace;
  font-size: 10px;
  line-height: 1.5;
  letter-spacing: 2.5;
  color: var(--color-primary-dark);
  text-transform: uppercase;
}

@media (max-width: 1024px) {
  h1 {
    font-size: 160px;
  }

  .hero-description {
    font-size: 18px;
  }

  .nav-menu {
    position: fixed;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 42px 0;

    flex-direction: column;
    align-items: center;
    gap: 32px;

    overflow-y: auto;

    background-color: var(--color-brand-light);
    z-index: 10;

    transform: scaleY(0);
    transform-origin: top;
    pointer-events: none;

    transition:
      opacity 0.3s ease,
      transform 0.3s ease;
    pointer-events: none;
  }

  .nav-menu a {
    color: var(--color-title);
  }

  .nav-menu.open {
    transform: scaleY(1);
    pointer-events: auto;
  }

  body:has(.nav-menu.open) main,
  body:has(.nav-menu.open) footer {
    filter: blur(8px) brightness(0.7);
  }

  .mobile-btn {
    display: block;
  }

  .btn-guide {
    display: none;
  }

  .hero-quote {
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 7%;
    max-width: 300px;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 90px;
  }

  h2 {
    font-size: 62px;
  }

  .section,
  .hero-container {
    padding: 60px 0;
  }

  .grid {
    grid-template-columns: 1fr;
    justify-items: center;
    text-align: center;
    gap: 18px;
  }

  .district-description {
    grid-column: auto;
  }
}
